* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  font-family: "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f9f9ff;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  outline: none;
}

input, textarea {
  font-family: inherit;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #b0aaff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7b61ff;
}


body {
  margin: 0;
  background-color: #f9f9ff;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#root {
  width: 100%;
}
